:root{
    --portfolio-color: #02b2f7
}

body{
    font-family: 'Raleway', sans-serif;
}

.nav-custom{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

a:hover{
    color: var(--portfolio-color) !important;
    font-weight: bold;
    font-style: oblique
}

h2{
    position: relative; bottom: 175px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-left: 10px;
    margin-left: 40px;

}

.page-header{

}

h3{
    text-align: center;
    font-size: 2.5rem;   
}

span{
    color: var(--portfolio-color);

}

.brackets{
    color: var(--portfolio-color); 

}

#content-wrapper {
    min-height: 70vh;
    display: flex;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
