:root{
    --portfolio-color: #00ACEE
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.custom-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    
}
.nav-logo{
    width: 215px;
    height: 71px;
}
#navbarNav{
    flex-grow: unset;
}

.custom-container{
    flex: none;
}

a:link{
    text-transform:capitalize;

}

a:hover{
    color: var(--portfolio-color) !important;
    font-weight: bold;
    font-style: oblique;
    text-transform:uppercase; 
}

.active{
    color: grey !important;
    font-weight: bold;
    font-style: oblique;
    text-transform:uppercase !important;
}

@media (min-width: 1024px) {
    .hero-image{
        background-image: url(../images/austin-poon-JO_S6ewBqAk-unsplash.jpg);
        background-repeat: no-repeat;
        height: 25vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
    }

    .custom-navbar{
        padding-right: 28px;
    }
}


/* Main content */
h2{
    position: relative;
    text-transform: uppercase;
    margin-left: 40px;
    letter-spacing: 0.1em;
    margin-top: 28px;
}

/* Home Page */
#home-header{
    position: relative;
    text-transform: uppercase;
    margin-left: 40px;
    letter-spacing: 0.1em;
}

@media (min-width: 1050px) {
    #main-logo{
    width: 100%;
    height: 70vh;
    }

    h3{
    text-align: center;
    font-size: 2.5rem;   
    }
}

/* Main content*/
main{
    margin-top: 70px;
}

/* About Me Page*/
#contactLink{
    text-decoration: none;
    color: black;
}

#contactLink:hover{
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

#image-div{
    height: auto;
    width: auto;
}

#selfie{
    position: relative;
    width: 100%;    
}

/*contact me page */
.custom-Button{
    margin-top: 0.6rem;
    background-color: #00ACEE;
    border-color: #00ACEE
}

.messageBox{
    border-color: var(--portfolio-color);
}

#staticMap{
    background-image: url(../images/staticmap.png);
    background-size: cover;
}

@media (max-width: 600px){
    #contactMe{ 
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .custom-form{
        margin-top: 10px;
    }

    #inputMessage{
        height: 175px
    }

    #info{
        margin-bottom: 16px;
        line-height: 2em;
        padding-top: 23px;
    }
    /*for all pages*/
    .nav-logo{
        width: 148px;
        height: 42px;
    }

    h2{
        margin-top: 94px;
    }
}

@media (min-width: 765px) and (max-width:770px){
    #staticMap{
        height: 543px;
        margin-top: -457px;
        margin-left: 40px;
        margin-right: 30px;
    }

    #info{
        margin-top: 309px;
        height: 156px;
        width: 218px;
        margin-left: 85px;
    }

    h2{
        margin-top: 90px;
    }

    form{
        left: 74px !important;
        right: 300px !important;
    } 
}

@media (min-width: 765px){
    #info{
        background-color: white;
        opacity: 70%;
        border-style: solid;
        border-color: #00ACEE;      
        border-width: thin;
    }

    form{
        opacity: 88%;
    }
}

@media (min-width: 760px) and (max-width: 1025px){
    #contactMe{
		margin-left: 60px;
	}
    #contactWrapper{
		margin-top: 60px;	
	}
    #main-container{
		padding-top: 35px;
    }
    form{
		padding-top: 10rem;
        position: absolute;
        left: 140px;
		right: 140px;
    }
    #inputMessage{
		height: 13rem;
    }
    #contactInfo{
        position: absolute;
        bottom: 80px;
    }
}   

@media (min-width: 1024px){
    form{
        left: 74px;
        right: 514px;
    }

    #info{
        margin-top: 309px;
        height: 156px;
        width: 218px
    }
    
    #staticMap{
        height: 618px;
        margin-top: -459px;
        margin-left: 40px;
        margin-right: 30px;
    }
}

@media (min-width: 1026px){
    form{
        padding-top: 6rem;
        padding-right: 8rem;
        width: 600px;
        
    }

    #contactInfo{
        position: absolute;
        bottom: -95px;
    }
    #inputMessage{
        height: 15rem;
    }

    #staticMap{
        height: 591px;
        margin: -472px 22px 80px;
        height: 500px;
    }
    #info{
        height: 132px;
        margin-top: 300px;
        margin-left: -86px;
    }
}
 
/* Footer */   
.custom-footer{
    margin-top: auto;
    
}

@media (min-width: 760px){
    .custom-footer{
        bottom: -250px;
    }
}
 
footer ul.footerList{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 10px;
}

footer ul.footerList li:first-child{
    margin-top: 10px;
}
