/* using css code i got from youtuber Dani Krossing for my menu bar with a few of my own edits. I may change a few thinfs later on */
/*ul
{ my own edits 
    margin: 0;
    padding: 0
     my own edits 
}

ul li
{
    list-style: none;
    display: inline-block;
    float: left;
}

ul li a
{
    text-decoration: none;
    font-size: 15px;
}*/
